<section class="section example {{bg-color}}">
  <div class="container">
    {{#if category}}
      <p class="category text-{{cat-align}}">{{category}}</p>
    {{/if}}
    <h2 class="color-{{title-color}}" data-aos="fade-up">{{title}}</h2>

    <div class="example-block">
      <div class="example-item">
        <div class="example-card" data-aos="fade-up" data-aos-delay="300" data-aos-anchor=".example-block">
          <div class="example-card-body">
            <img src="/images/content/example-1.jpg" alt="example">
            <div class="example-card-hover">
              <a href="#" class="btn btn-transparent btn-border">Подробнее</a>
              <a href="#" class="btn btn-transparent btn-border">3D-тур</a>
            </div>
          </div>
          <div class="example-card-footer">
            <div class="example-card-object">
              <div class="adress">
                <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.46667 8.64835C0.766784 7.94028 0.289962 7.03783 0.0965315 6.05519C-0.0968989 5.07255 0.00175434 4.05387 0.380009 3.12803C0.758264 2.2022 1.39912 1.41081 2.2215 0.854008C3.04388 0.297203 4.01083 0 5 0C5.98917 0 6.95612 0.297203 7.7785 0.854008C8.60088 1.41081 9.24174 2.2022 9.61999 3.12803C9.99825 4.05387 10.0969 5.07255 9.90347 6.05519C9.71004 7.03783 9.23322 7.94028 8.53333 8.64835L5.39444 11.8335C5.3428 11.8863 5.28135 11.9282 5.21365 11.9567C5.14595 11.9853 5.07334 12 5 12C4.92666 12 4.85405 11.9853 4.78635 11.9567C4.71865 11.9282 4.6572 11.8863 4.60556 11.8335L1.46667 8.64835ZM7.75 7.85487C8.29383 7.30394 8.66417 6.60202 8.81419 5.83789C8.96421 5.07376 8.88718 4.28172 8.59283 3.56194C8.29847 2.84215 7.80002 2.22694 7.16051 1.79411C6.52099 1.36127 5.76913 1.13025 5 1.13025C4.23087 1.13025 3.47901 1.36127 2.83949 1.79411C2.19998 2.22694 1.70153 2.84215 1.40717 3.56194C1.11282 4.28172 1.03579 5.07376 1.18581 5.83789C1.33583 6.60202 1.70617 7.30394 2.25 7.85487L5 10.6405L7.75 7.85487ZM5 7.32025C4.41063 7.32025 3.8454 7.08309 3.42865 6.66095C3.0119 6.2388 2.77778 5.66625 2.77778 5.06924C2.77778 4.47223 3.0119 3.89968 3.42865 3.47753C3.8454 3.05539 4.41063 2.81823 5 2.81823C5.58937 2.81823 6.1546 3.05539 6.57135 3.47753C6.9881 3.89968 7.22222 4.47223 7.22222 5.06924C7.22222 5.66625 6.9881 6.2388 6.57135 6.66095C6.1546 7.08309 5.58937 7.32025 5 7.32025ZM5 6.19475C5.29468 6.19475 5.5773 6.07617 5.78567 5.86509C5.99405 5.65402 6.11111 5.36774 6.11111 5.06924C6.11111 4.77074 5.99405 4.48446 5.78567 4.27339C5.5773 4.06231 5.29468 3.94373 5 3.94373C4.70532 3.94373 4.4227 4.06231 4.21433 4.27339C4.00595 4.48446 3.88889 4.77074 3.88889 5.06924C3.88889 5.36774 4.00595 5.65402 4.21433 5.86509C4.4227 6.07617 4.70532 6.19475 5 6.19475Z"
                    fill="#C2C2C2" />
                </svg>
                ул. Родниковая, г.Москва
              </div>
              <div class="name">Ремонт в ЖК Сердце Столицы</div>
            </div>
            <div class="example-card-price">
              <p class="green">Цена ремонта</p>
              <p class="price">4,5 млн руб</p>
            </div>
          </div>
        </div>
        <div class="example-card" data-aos="fade-up" data-aos-delay="900" data-aos-anchor=".example-block">
          <div class="example-card-body">
            <img src="/images/content/example-2.jpg" alt="example">
            <div class="example-card-hover">
              <a href="#" class="btn btn-transparent btn-border">Подробнее</a>
              <a href="#" class="btn btn-transparent btn-border">3D-тур</a>
            </div>
          </div>
          <div class="example-card-footer">
            <div class="example-card-object">
              <div class="adress">
                <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.46667 8.64835C0.766784 7.94028 0.289962 7.03783 0.0965315 6.05519C-0.0968989 5.07255 0.00175434 4.05387 0.380009 3.12803C0.758264 2.2022 1.39912 1.41081 2.2215 0.854008C3.04388 0.297203 4.01083 0 5 0C5.98917 0 6.95612 0.297203 7.7785 0.854008C8.60088 1.41081 9.24174 2.2022 9.61999 3.12803C9.99825 4.05387 10.0969 5.07255 9.90347 6.05519C9.71004 7.03783 9.23322 7.94028 8.53333 8.64835L5.39444 11.8335C5.3428 11.8863 5.28135 11.9282 5.21365 11.9567C5.14595 11.9853 5.07334 12 5 12C4.92666 12 4.85405 11.9853 4.78635 11.9567C4.71865 11.9282 4.6572 11.8863 4.60556 11.8335L1.46667 8.64835ZM7.75 7.85487C8.29383 7.30394 8.66417 6.60202 8.81419 5.83789C8.96421 5.07376 8.88718 4.28172 8.59283 3.56194C8.29847 2.84215 7.80002 2.22694 7.16051 1.79411C6.52099 1.36127 5.76913 1.13025 5 1.13025C4.23087 1.13025 3.47901 1.36127 2.83949 1.79411C2.19998 2.22694 1.70153 2.84215 1.40717 3.56194C1.11282 4.28172 1.03579 5.07376 1.18581 5.83789C1.33583 6.60202 1.70617 7.30394 2.25 7.85487L5 10.6405L7.75 7.85487ZM5 7.32025C4.41063 7.32025 3.8454 7.08309 3.42865 6.66095C3.0119 6.2388 2.77778 5.66625 2.77778 5.06924C2.77778 4.47223 3.0119 3.89968 3.42865 3.47753C3.8454 3.05539 4.41063 2.81823 5 2.81823C5.58937 2.81823 6.1546 3.05539 6.57135 3.47753C6.9881 3.89968 7.22222 4.47223 7.22222 5.06924C7.22222 5.66625 6.9881 6.2388 6.57135 6.66095C6.1546 7.08309 5.58937 7.32025 5 7.32025ZM5 6.19475C5.29468 6.19475 5.5773 6.07617 5.78567 5.86509C5.99405 5.65402 6.11111 5.36774 6.11111 5.06924C6.11111 4.77074 5.99405 4.48446 5.78567 4.27339C5.5773 4.06231 5.29468 3.94373 5 3.94373C4.70532 3.94373 4.4227 4.06231 4.21433 4.27339C4.00595 4.48446 3.88889 4.77074 3.88889 5.06924C3.88889 5.36774 4.00595 5.65402 4.21433 5.86509C4.4227 6.07617 4.70532 6.19475 5 6.19475Z"
                    fill="#C2C2C2" />
                </svg>
                ул. Родниковая, г.Москва
              </div>
              <div class="name">Ремонт в ЖК Сердце Столицы</div>
            </div>
            <div class="example-card-price">
              <p class="green">Цена ремонта</p>
              <p class="price">4,5 млн руб</p>
            </div>
          </div>
        </div>
      </div>
      <div class="example-item">
        <div class="example-card" data-aos="fade-up" data-aos-delay="600" data-aos-anchor=".example-block">
          <div class="example-card-body">
            <img src="/images/content/example-3.jpg" alt="example">
            <div class="example-card-hover">
              <a href="#" class="btn btn-transparent btn-border">Подробнее</a>
              <a href="#" class="btn btn-transparent btn-border">3D-тур</a>
            </div>
          </div>
          <div class="example-card-footer">
            <div class="example-card-object">
              <div class="adress">
                <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.46667 8.64835C0.766784 7.94028 0.289962 7.03783 0.0965315 6.05519C-0.0968989 5.07255 0.00175434 4.05387 0.380009 3.12803C0.758264 2.2022 1.39912 1.41081 2.2215 0.854008C3.04388 0.297203 4.01083 0 5 0C5.98917 0 6.95612 0.297203 7.7785 0.854008C8.60088 1.41081 9.24174 2.2022 9.61999 3.12803C9.99825 4.05387 10.0969 5.07255 9.90347 6.05519C9.71004 7.03783 9.23322 7.94028 8.53333 8.64835L5.39444 11.8335C5.3428 11.8863 5.28135 11.9282 5.21365 11.9567C5.14595 11.9853 5.07334 12 5 12C4.92666 12 4.85405 11.9853 4.78635 11.9567C4.71865 11.9282 4.6572 11.8863 4.60556 11.8335L1.46667 8.64835ZM7.75 7.85487C8.29383 7.30394 8.66417 6.60202 8.81419 5.83789C8.96421 5.07376 8.88718 4.28172 8.59283 3.56194C8.29847 2.84215 7.80002 2.22694 7.16051 1.79411C6.52099 1.36127 5.76913 1.13025 5 1.13025C4.23087 1.13025 3.47901 1.36127 2.83949 1.79411C2.19998 2.22694 1.70153 2.84215 1.40717 3.56194C1.11282 4.28172 1.03579 5.07376 1.18581 5.83789C1.33583 6.60202 1.70617 7.30394 2.25 7.85487L5 10.6405L7.75 7.85487ZM5 7.32025C4.41063 7.32025 3.8454 7.08309 3.42865 6.66095C3.0119 6.2388 2.77778 5.66625 2.77778 5.06924C2.77778 4.47223 3.0119 3.89968 3.42865 3.47753C3.8454 3.05539 4.41063 2.81823 5 2.81823C5.58937 2.81823 6.1546 3.05539 6.57135 3.47753C6.9881 3.89968 7.22222 4.47223 7.22222 5.06924C7.22222 5.66625 6.9881 6.2388 6.57135 6.66095C6.1546 7.08309 5.58937 7.32025 5 7.32025ZM5 6.19475C5.29468 6.19475 5.5773 6.07617 5.78567 5.86509C5.99405 5.65402 6.11111 5.36774 6.11111 5.06924C6.11111 4.77074 5.99405 4.48446 5.78567 4.27339C5.5773 4.06231 5.29468 3.94373 5 3.94373C4.70532 3.94373 4.4227 4.06231 4.21433 4.27339C4.00595 4.48446 3.88889 4.77074 3.88889 5.06924C3.88889 5.36774 4.00595 5.65402 4.21433 5.86509C4.4227 6.07617 4.70532 6.19475 5 6.19475Z"
                    fill="#C2C2C2" />
                </svg>
                ул. Родниковая, г.Москва
              </div>
              <div class="name">Ремонт в ЖК Сердце Столицы</div>
            </div>
            <div class="example-card-price">
              <p class="green">Цена ремонта</p>
              <p class="price">4,5 млн руб</p>
            </div>
          </div>
        </div>
        <div class="example-card" data-aos="fade-up" data-aos-delay="1200" data-aos-anchor=".example-block">
          <div class="example-card-body">
            <img src="/images/content/example-4.jpg" alt="example">
            <div class="example-card-hover">
              <a href="#" class="btn btn-transparent btn-border">Подробнее</a>
              <a href="#" class="btn btn-transparent btn-border">3D-тур</a>
            </div>
          </div>
          <div class="example-card-footer">
            <div class="example-card-object">
              <div class="adress">
                <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.46667 8.64835C0.766784 7.94028 0.289962 7.03783 0.0965315 6.05519C-0.0968989 5.07255 0.00175434 4.05387 0.380009 3.12803C0.758264 2.2022 1.39912 1.41081 2.2215 0.854008C3.04388 0.297203 4.01083 0 5 0C5.98917 0 6.95612 0.297203 7.7785 0.854008C8.60088 1.41081 9.24174 2.2022 9.61999 3.12803C9.99825 4.05387 10.0969 5.07255 9.90347 6.05519C9.71004 7.03783 9.23322 7.94028 8.53333 8.64835L5.39444 11.8335C5.3428 11.8863 5.28135 11.9282 5.21365 11.9567C5.14595 11.9853 5.07334 12 5 12C4.92666 12 4.85405 11.9853 4.78635 11.9567C4.71865 11.9282 4.6572 11.8863 4.60556 11.8335L1.46667 8.64835ZM7.75 7.85487C8.29383 7.30394 8.66417 6.60202 8.81419 5.83789C8.96421 5.07376 8.88718 4.28172 8.59283 3.56194C8.29847 2.84215 7.80002 2.22694 7.16051 1.79411C6.52099 1.36127 5.76913 1.13025 5 1.13025C4.23087 1.13025 3.47901 1.36127 2.83949 1.79411C2.19998 2.22694 1.70153 2.84215 1.40717 3.56194C1.11282 4.28172 1.03579 5.07376 1.18581 5.83789C1.33583 6.60202 1.70617 7.30394 2.25 7.85487L5 10.6405L7.75 7.85487ZM5 7.32025C4.41063 7.32025 3.8454 7.08309 3.42865 6.66095C3.0119 6.2388 2.77778 5.66625 2.77778 5.06924C2.77778 4.47223 3.0119 3.89968 3.42865 3.47753C3.8454 3.05539 4.41063 2.81823 5 2.81823C5.58937 2.81823 6.1546 3.05539 6.57135 3.47753C6.9881 3.89968 7.22222 4.47223 7.22222 5.06924C7.22222 5.66625 6.9881 6.2388 6.57135 6.66095C6.1546 7.08309 5.58937 7.32025 5 7.32025ZM5 6.19475C5.29468 6.19475 5.5773 6.07617 5.78567 5.86509C5.99405 5.65402 6.11111 5.36774 6.11111 5.06924C6.11111 4.77074 5.99405 4.48446 5.78567 4.27339C5.5773 4.06231 5.29468 3.94373 5 3.94373C4.70532 3.94373 4.4227 4.06231 4.21433 4.27339C4.00595 4.48446 3.88889 4.77074 3.88889 5.06924C3.88889 5.36774 4.00595 5.65402 4.21433 5.86509C4.4227 6.07617 4.70532 6.19475 5 6.19475Z"
                    fill="#C2C2C2" />
                </svg>
                ул. Родниковая, г.Москва
              </div>
              <div class="name">Ремонт в ЖК Сердце Столицы</div>
            </div>
            <div class="example-card-price">
              <p class="green">Цена ремонта</p>
              <p class="price">4,5 млн руб</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="text-center">
      <button class="btn btn-simple {{btn}} height-48">портфолио</button>
    </p>
  </div>
</section>